body{
    margin: 0px;
    font-family: 'Nanum Gothic', sans-serif;
}
section{
    height: 500px;
    padding: 150px;
}
#top{
    background-image: url(Backgorund/top-banner.png);
    background-repeat: no-repeat;
}